{% extends "base.html" %} {% block content %}
<div class="container mt-5">
  <h1>Faculties</h1>
  <a href="{% url 'faculty-create' %}" class="btn btn-primary mb-3"
    >Add Faculty</a
  >
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for faculty in faculties %}
      <tr>
        <td>{{ faculty.name }}</td>
        <td>
          <a
            href="{% url 'faculty-edit' faculty.id %}"
            class="btn btn-sm btn-warning"
            >Edit</a
          >
          <a
            href="{% url 'faculty-delete' faculty.id %}"
            class="btn btn-sm btn-danger"
            >Delete</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
