{% extends "base.html" %} {% block content %}
<div class="container mt-5">
  <h1>
    {% if view.object %} Editar Especialidad {% else %} Agregar Nueva
    Especialidad {% endif %}
  </h1>

  <form method="POST">
    {% csrf_token %}

    <div class="mb-3">{{ form.as_p }}</div>

    <button type="submit" class="btn btn-primary">
      {% if view.object %} Guardar {% else %} Agregar {% endif %}
    </button>
  </form>

  <a href="{% url 'major-list' %}" class="btn btn-secondary mt-3">
    Volver a la Lista
  </a>
</div>
{% endblock %}
